.card-today {
  background: linear-gradient(
    to right,
    #ffffff 50%,
    rgba(241, 224, 190, 0.507)
  );
}

.temp {
  font-size: 5rem;
  color: rgb(57, 57, 58);
}

.location {
  margin-bottom: 1.5rem;
}


@media (max-width: 767px) {
  .temp {
    font-size: 3rem;
  }
  .location {
    font-size: 0.75rem;
  }
}